@import '../../variables.scss';

.page-buttons-wrap {
    display:flex; 
    flex-direction: row;
    gap: .75rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.item-buttons-wrap {
    display:flex; 
    flex-direction: row;
    gap: .75rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.button-wrap {
    width: max-content;
    display: flex;
    justify-content: flex-end;
    z-index: 100;

    button {
        z-index: 100;
        font-size: 2rem;
        color: $cream;
        background-color: $pink-light;
        border: .2rem solid $purple-light;
        border-radius: 1rem;

        &:hover {
            color: $cream;
            background-color: $pink-medium;
            border: .2rem solid $purple;
        }
    }
}
// .add-page {
//     right: 18rem;
//     top: 1rem;
// }
// .add-item {
//     right: 2rem;
//     top: 1rem;
// }

.modal-content>.modal-body>form>.input-group>.form-control {
    border-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
}