$cream: rgb(250, 247, 220);
$cream-light: rgb(255, 253, 238);
$navy: rgb(0, 30, 75);
$navy-light: rgb(20, 62, 124);
$purple-dark: rgb(36, 8, 59);
$purple: rgb(93, 28, 146);
$purple-light: rgb(103, 57, 141);
$pink: rgb(129, 57, 118);
$pink-medium: rgb(179, 116, 169);
$pink-light: rgb(180, 141, 174);

$sans: 'Arimo', sans-serif;
$serif: 'DM Serif Display', serif;
$cursive: 'Tangerine', cursive;
